<div class="table-row">
  <div class="table-cell p-1">
    <div class="flex flex-col flex-auto">
      <label class="mb-2">
        Name
      </label>
      <XInput value={{@gearListItem.name}} @onChange={{queue (set @gearListItem "name") @onSave}} class="rounded px-4 py-2 border" />
    </div>
  </div>
  <div class="table-cell p-1">
    <div class="flex flex-col flex-auto">
      <label class="mb-2">
        Description
      </label>
      <XInput value={{@gearListItem.description}} @onChange={{queue (set @gearListItem "description") @onSave}} class="rounded px-4 py-2 border" />
    </div>
  </div>
  <div class="table-cell p-1">
    <div class="flex flex-col flex-auto">
      <label class="mb-2">
        Weight
      </label>
      <XInput value={{@gearListItem.weight}} @onChange={{queue (set @gearListItem "weight") @onSave}} class="rounded px-4 py-2 border" />
    </div>
  </div>
  <div class="table-cell p-1">
    <div class="flex flex-col flex-auto">
      <label class="mb-2">
        Quantity
      </label>
      <XInput value={{@gearListItem.quantity}} @onChange={{queue (set @gearListItem "quantity") @onSave}} class="rounded px-4 py-2 border" />
    </div>
  </div>
</div>
