{{page-title "Gear List Show"}}

<h1 class="mb-4 text-3xl">{{@model.gearList.name}}</h1>

<form class="">
  <div class="flex mb-4">
    <div class="flex flex-col flex-auto mr-4">
      <label class="mb-2">
        Name
      </label>
      <XInput value={{@model.gearList.name}} @onChange={{queue (set @model.gearList "name") this.save}} class="rounded px-4 py-2 border" />
    </div>
    <div class="flex flex-col flex-auto mr-4">
      <label class="mb-2">
        Description
      </label>
      <XInput value={{@model.gearList.description}} @onChange={{queue (set @model.gearList "description") this.save}} class="rounded px-4 py-2 border" />
    </div>
    <div class="flex flex-col flex-none w-20">
      <label class="mb-2">
        Units
      </label>
      <XSelect
        class="border-2 rounded p-2"
        @value={{this.weightUnits}}
        @onChange={{set this "weightUnits"}}
        as |xs|
      >
        <xs.option @value="oz">oz</xs.option>
        <xs.option @value="lb">lb</xs.option>
        <xs.option @value="g">g</xs.option>
        <xs.option @value="kg">kg</xs.option>
      </XSelect>
    </div>
  </div>

  {{#each @model.gearList.groups as |group index|}}
    <GearListGroup
      @group={{group}}
      @gearList={{@model.gearList}}
      @onSave={{this.save}}
      @removeGroup={{fn this.removeGroup index}}
      @gearItems={{@model.gearItems}}
      @addGearItem={{fn this.addGearItem index}}
      @weightUnits={{this.weightUnits}}
    />
  {{/each}}

  <button
    {{on "click" this.addGroup}}
    class="shadow-md bg-green-400 text-white p-2 rounded hover:shadow-lg hover:bg-green-500 mt-4"
    type="button"
  >
    + Group
  </button>
</form>
